<h3> in edit post handlebar {{post.title}} </h3>
<div id="{{post.id}}">
<input type="text" value="{{post.title}}" id="updatedTitle"></input>
<input type="text" value="{{post.description}}" id="updatedDescription"></input>

<button id="editPost"> update </button>
<button id="deletetPost"> delete </button>
</div>
<script src="/javascript/edit-post.js"></script>