<div class="editBox">
    <h3>Edit Post</h3>
    <div id="{{post.id}}" class="editPostBox">
        <label for="updatedTitle">Title:</label>
        <input type="text" value="{{post.title}}" id="updatedTitle"></input>

        <label for="updatedDescription">Content:</label>
        <input type="text" value="{{post.description}}" id="updatedDescription"></input>

        <button id="editPost"> Update </button>
        <button id="deletePost"> Delete </button>
    </div>
</div>
<script src="/javascript/edit-post.js"></script>