<div class="signup">
    <div>
        <h3>Sign Up</h3>
        <form class="signup-form">
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
    
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup" />
    
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
    
            <button type="submit" id="signupButton">Signup</button>
        </form>
        <button id="signupHide">Login instead >></button>
    </div>
</div>

<div class="login hide">
    <div>
        <h3>Login</h3>
        <form class="login-form">    
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" />
    
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
    
            <button type="submit" id="loginButton">Login</button>
        </form>
        <button id="loginHide">Signup instead >></button>
    </div>
</div>

<script src="/javascript/login.js"></script>
<script src="/javascript/logout.js"></script> 