*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darkcolor : #437FC7;
    --secondarycolor: #6DAFFE;
    --lightcolor : #EDF6FF;
}

body{
    background-color:  var(--lightcolor);
    font-family: 'Mukta', sans-serif;
}

nav{
    background-color: var(--darkcolor);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 20px;
}

nav .menu{
    display: flex;
    justify-content: left;
    align-items: center;
}

nav .menu a{
    font-size: large;
    text-decoration: none;
    color: var(--lightcolor);
    margin: 10px;
}

nav .logo{
    width: 250px;
    color: var(--darkcolor);
    background-color:  var(--lightcolor);
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    padding: 10px 20px;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    color: var(--darkcolor);
    margin: 30px;
}